.ItemDetail {
  margin-top: 60px;
  img {
    width: 100%;
  }
  .rating-review {
    display: flex;
    align-items: center;
  }
  #quantity {
    width: 80px;
    height: 60px;
    text-align: center;
    padding-right: 10px;
    font-size: 20px;
    transform: translateY(4px);
  }
  #cart-button {
    display: inline-block;
    width: auto;
    height: 58px;
    line-height: 58px;
    padding: 0 15px;
    min-width: calc(100% - 90px);
    font-weight: 600;
    font-size: 12px;
    border: none;
    letter-spacing: 0.2em;
    background: rgb(0, 0, 255);
    transition: all .2s;
    color: white;
    &:hover {
      background: rgb(0, 84, 255);
      text-decoration: none;
    }
    text-align: center;
  }
  .detail-content {
    display: flex;
    flex-direction: column;
  }
  .slide {
    background: transparent;
  }
}